  <body>
  <!--------------------------------------------------------------- ENCABEZADO ------------------------------------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <!-- LOGOS DEL IPN Y DE UPIIZ -->
    <div class="d-flex align-items-center">&nbsp;&nbsp;&nbsp;
      <img src="./assets/dist/img/logo-ipn-guinda.png" style="height: 60px;"/>&nbsp;&nbsp;
      <img src="./assets/dist/img/logo-upiiz.png" style="height: 60px;"/>&nbsp;&nbsp;&nbsp;
      <h4 class="ml-3">
        DSE UPIIZ <br>
        CONSTANCIAS
      </h4>&nbsp;
    </div>
    
    <!-- BOTÓN DESPLEGABLE -->
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #5A1236;">
      <span class="fas fa-bars" style="color: white;"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">&nbsp;
        <li class="nav-item active">
          <a class="nav-link" href="dep-eventos" style="color: #333333;" align="center"><b>Eventos</b></a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="dep-ponentes" style="color: #333333;" align="center"><b>Ponentes</b></a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="dep-reportes" style="color: #5A1236;" align="center"><b><u>Estadísticas</u></b></a>
        </li>&nbsp;&nbsp;
        <li class="nav-item text-center">
          <a href="dep-login" class="btn btn-success" (click)="salir()">Salir</a>
        </li>&nbsp;&nbsp;
      </ul>
    </div>
  </nav>
  
  <!----------------------------------------------------------- CONTENIDO DE LA PÁGINA ---------------------------------------------------------->
  <div style="background-color: #f1f1f1;">
    <main>
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1 style="color: #5A1236;"><b>Estadísticas</b></h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-8 order-md-1 order-2">
              <div class="col-sm-12">
                <h5><b>Por evento</b></h5>
              </div>
              <div class="card">
                <div class="card-body">

                  <!--Alerta-->
                  <div class="alert-container">
                    <div *ngIf="error" class="alert alert-dark alert-sm" role="alert">
                      <span class="fas fa-exclamation-circle"></span> &nbsp;
                      {{ error }}
                    </div>
                  </div>  

                  <!--Tabla de eventos-->
                  <div class="table-responsive">
                    <table #dataTable class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>Fecha</th>
                        <th>Evento</th>
                        <th>Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let evento of eventos">
                          <td>{{ formatoFecha(evento.fecha_evento) }}</td>
                          <td>{{ evento.nombre_evento }}</td>
                          <td class="acciones-columna">
                            <div class="btn-group">
                              <button type="button" class="btn btn-success" (click)="downloadExcel(evento)">Excel</button>
                            </div>&nbsp;
                            <div class="btn-group">
                              <button type="button" class="btn btn-success" (click)="crearPdfYDescargar(evento)">PDF</button>
                            </div>
                          </td>
                        </tr>                    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 order-md-2 order-1">
              <div class="col-sm-12">
                <h5><b>Por área</b></h5>
              </div>
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="form-group" id="grupoArea">
                      <label for="area">Seleccione el área</label>
                      <select class="form-control" id="area" [(ngModel)]="areaSeleccionada" name="area">
                        <option value="" disabled selected hidden>Seleccione el área</option>
                        <option value="">Todas las áreas</option>
                        <option value="Servicio Médico">Servicio Médico</option>
                        <option value="Orientación Juvenil">Orientación Juvenil</option>
                        <option value="Biblioteca">Biblioteca</option>
                        <option value="Modelo de Accesibilidad">Modelo de Accesibilidad</option>
                        <option value="Red de Género">Red de Género</option>
                        <option value="COSECOVI">COSECOVI</option>
                        <option value="Promotoría de la DDP">Promotoría de la DDP</option>
                        <option value="Unidad Interna de Protección Civil">Unidad Interna de Protección Civil</option>
                        <option value="Servicio Médico de Atención Prehospitalaria">Servicio Médico de Atención Prehospitalaria</option>
                        <option value="Deporte y cultura">Deporte y cultura</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="fechaInicio">Ingrese un período de tiempo</label><br>
                      <div class="row">
                          <div class="col-md-5">
                              <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio" placeholder="Ingrese la fecha de inicio" name="fechaInicio">
                          </div>
                          <div class="col-md-2 text-center">
                              <p class="my-auto"> — </p>
                          </div>
                          <div class="col-md-5">
                              <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin" placeholder="Ingrese la fecha de fin" name="fechaFin">
                          </div>
                          <div class="col-12" align="center">
                            <br>
                            <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 100%" (click)="calcularHorasPorPeriodo(fechaInicio, fechaFin, areaSeleccionada)">Buscar</button>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <br>
                      <label for="numEventos">Número de eventos</label>
                      <input type="text" class="form-control" id="numEventos" [(ngModel)]="numEventos" disabled name="numEventos">
                    </div>
                    <div class="form-group">
                      <br>
                      <label for="horasTotales">Número de horas</label>
                      <input type="text" class="form-control" id="horasTotales" [(ngModel)]="horasTotales" disabled name="horasTotales">
                    </div>
                  </form>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
      
  </div>
  
  <!-------------------------------------------------------------- PIE DE PÁGINA -------------------------------------------------------------->
  <footer class="footer">
    <div class="container text-center">
      <h6>Departamento de Servicios Estudiantiles UPIIZ</h6>
      <div class="contact-info">
        <div class="contact-item">
          <span class="fas fa-envelope"></span>
          dse_upiiz&#64;ipn.mx
        </div>
        <div class="contact-item">
          <span class="fas fa-phone"></span>
          Ext. 83516
        </div>
        <div class="contact-item">
          <span class="fab fa-instagram"></span>
          <a href="https://instagram.com/dseupiiz" target="_blank">dseupiiz</a>
        </div>
      </div>
      <div class="footer-credits">
        <small>&copy; 2024, Ana Paola Rebolloso Saucedo</small>
      </div>
    </div>
  </footer>
  </body>