.footer {
    background-color: #5B262E;
    color: white;
    padding: 20px 0;
    width: 100%;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer h6 {
    margin: 0 0 15px;
    font-size: 1.2em;
  }
  
  .footer .contact-info {
    display: flex;
    justify-content: center;
    gap: 50px; /* Separación grande entre los elementos */
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .footer .contact-item {
    display: flex;
    align-items: center;
  }
  
  .footer .contact-item span {
    margin-right: 10px;
  }
  
  .footer .contact-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer .footer-credits {
    margin-top: 20px;
    border-top: 1px solid #ffffff80; /* Borde superior translúcido */
    padding-top: 10px;
    font-size: 0.9em;
    color: #d3d3d3; /* Color de texto más claro */
  }
  
  .footer small {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  @media (max-width: 768px) {
    .contact-info {
      flex-direction: column; /* Cambia la dirección del flexbox a column */
    }
    .contact-item {
      margin-bottom: 1px; /* Agrega un espacio entre cada elemento */
    }
  }